@font-face {
  font-family: 'Merryweather' ;
  src: url('../fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf');
}
@font-face {
  font-family: 'AlegreyaSans';
  src: url('../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf');
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --body-color--:#1c041c;
  --link_text--:#C7B0E2;
  --card_bg--: #094173;
  --card_text--:#C7B0E2;
  --title_color--:#0D8BD9;
  --shadow_color--: rgba(199,176,226,0.62);
  --shadow_hover_color--:rgba(9,65,115,0.62);



}

body {
  margin: 0;
  padding :0;
  place-items: center;
  font-family: 'AlegreyaSans';
}
.myNavbar{
  background-color: var(--card_bg--);
  color: var(--link_text--);
}
.title{
  color:var(--title_color--);
  font-family:'Merryweather' ;
}
.link{
  color:var(--link_text--);
}
h1{
  font-family:'Merryweather' ;
}

.text{
  color: var(--card_text--);
}

.button{
  border-radius: 5px;
  border-color: var(--card_text--) ;
  color: var(--card_text--);
  background-color: var(--card_bg--);
  transition-duration: 0.5s;
}

.button:hover{
  background-color: var(--body_color--);
  color: var(--card_text--);
  border-color: var(--card_text--) ;
}

.card{
  border-radius: 5px;
  display:flex;
  justify-self: center;
  border-color: var(--card_text--) ;
  color: var(--card_text--);
  background-color: var(--card_bg--);
  box-shadow: 0px 2px 20px 6px var(--shadow_color--);;
  transition-duration: 0.65s;
}

.card:hover{
  background-color: var(--body-color--);
  color: var(--card_text--);
  box-shadow: 0px 2px 31px 9px var(--shadow_hover_color--);
}
.card-footer{
  border-top: 1px dashed var(--card_text--);
}
.info{
  border: var(--card_text--) 2px  solid;
  border-radius: 5px;
  display:flex;
  justify-self: center;
  border-color: var(--card_text--) ;
  color: var(--card_text--);
  background-color: var(--body_color--);
  
}

.noStyle{
  text-decoration: none;
  list-style-type: none;
}
.fontUp{
  font-size: larger;
}

body{
  background-color: var(--body-color--);
}
input::placeholder{
  color: var(--card_text--);
}
input::placeholder:hover{
  background-color: var(--body-color--);
}
.addButton{
  border-radius: 5px;
  border-color: var(--card_text--) ;
  color: var(--card_text--);
  background-color: var(--card_bg--);
  transition:0.5s
}

.addButton:hover{
  background-color: green;
  color: white;
}
.championName{
  font-size: 25px;
}

.championContainer {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;   
  gap: 50px;                 
  padding: 20px;
}

.championCard {
  width: 300px;              
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.championCard:hover {
  transform: translateY(-20px);
}

.championImage {
  display: block;
  margin: 0 auto;
}
